
.app {
position: relative;
}

.top-header {
  max-width: 1500px;
  width: 100%;
}

.main {
  position: absolute;
  top: 38px;
  display: flex;
  max-width: 1500px;
  width: 100%;
  color: #5C5C5C;
  background: #FFFFFF;
  min-height: 200px;
}

.main > div{
  width: 70%;
  min-width: 945px;
  padding: 20px;

}

.main > aside{
  width: 30%;
  min-width: 300px;
  padding: 20px;
}

.side-navbar .btn{
  width: 100%;
  margin: 5px;
  height: 100px;

/* same as h2 */
  font-weight: bold;
  font-size: x-large;
/**************/
}

.green-btn {
  background: #02B960;
  color: #FFFFFF;
}

.yellow-btn {
  background: #F9CE1C;
  color: #5C5C5C;
}

.btn .yellow_btn:hover{
  color: #FFFFFF;
}

.orange-btn {
  background: #D66700;
  color: #FFFFFF;
}

.blue-btn {
  background: #26A6B8;
  color: #FFFFFF;
}

.pink-btn {
  background: #D7005F;
  color: #FFFFFF;
}
