// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-header {
  position: fixed;
  z-index: 100;
  background: #02B960;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
  height: 40px;
}

.top-header div>h2 {
  color: #FFFFFF;
}

.user_account {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.user_account>.item{
  padding: 2px;
  margin: 3px;
}

.user_account p {
  font-size: medium
}

.user_account .btn {
  background: #FFFFFF;
  margin: 0px 3px;
}

.user_account .btn:hover{
  background: #FFFFFF;
}

.search-bar h3{
  border: 0.5px solid #FFFFFF;
  border-radius: 0.2em;
  height: 30px;
}

.search-bar input{
  height: 100%;
  width: 400px;
  background: #FFFFFF;
}

.search-bar button {
  background: #02B960;
  height: 100%;
  vertical-align: top;

}
