
.study_set_index .title,
.klass_index .title,
.test_score_index .title,
.language-index .title {
  background: #D66700;
  color: #FFFFFF;
  padding: 0.2em 0.5em;
  text-align: right;
}

div.list-group{
  margin: 10px;
}

button.list-group-item,
span.list-group-item {
  color: #5C5C5C;
}

/* same as h2 */
button.list-group-item .list-group-item-heading,
span.list-group-item .list-group-item-heading
 {
  color: inherit;
  font: inherit;
  font-weight: bold;
  font-size: x-large;
}

/* same as h3 */
.list-group-item-text
 {
  color: inherit;
  font: inherit;
  font-weight: normal;
  font-size: large;
}


.list-group-item {
  color: inherit;
  font: inherit;
  background: #FFFFFF;
}

button.list-group-item:hover {
  background-color: #F9CE1C;
}

.link {
  background: transparent;
}
