// Place all the styles related to the api/klasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the api/klasss controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.klass {
  padding-bottom: 20px;
}

.klass_header {
  background: #D66700;
  padding: 4px;
  text-align: right;
}

.klass_header .title{
  color: #FFFFFF;
  margin: 10px;
}

.klass_header .description {
  margin: 0px 10px;
  max-width: 500px;
  display: inline-block;
  /* w/o inline-block, description did not align correctly */
}

.klass_header .details{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;

  margin: 10px;
  text-align: right;
}

.klass_header .btn-group {
  margin: 0px 0px 0px 5px;
}

.klass_header .btn {
  background: #FFFFFF;
  font-weight: bold;
  font-size: large;

}

.klass_header .btn:hover{
  background: #F9CE1C;
}


/* navtabs */
.nav-tabs {
  margin: 15px;
  font-size: large;
  border-bottom: 2px dashed #5C5C5C;
}

.nav-tabs>li {
  margin-bottom: -2px;
}

.nav-tabs>li.active>a {
  background-color: #FFFFFF;
  font-weight: bold;
}

.nav-tabs>li>a:hover {
  background-color: #F9CE1C;
}

.add_study_set_form .list-group-item.active{
  background: #26A6B8;
}

.add_study_set_form .list-group-item:hover{
  background: #FFFFFF;
  color: #5C5C5C;
}

.add_study_set_form .list-group-item.active:hover{
  background: #26A6B8;
  color: #FFFFFF;
}

.add_study_set_form .list-group-item.active:focus{
  background: #26A6B8;
  color: #FFFFFF;
}

.add_study_set_form .btn {
  background: #FFFFFF;
  font-weight: bold;
  font-size: large;
}


.add_study_set_form {
  padding: 10px;
}

.add_study_set_form h2 {
  margin: 15px;
}

.add_study_set_form .btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* FORM */

.klass_form .klass_header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.klass_form .klass_header h1 {
  margin: 0px;
  /* this resets bootstrap default margin */
}

.input_klass_name {
  border: 2px solid #5C5C5C;
  border-radius: 0.3em;
  font-weight: bolder;
  font-size: xx-large;
  padding: 0.3em;
  margin: 0px 0px 0px 7px;
  background-color: #FFFFFF;
  color: #5C5C5C;
  text-align: left;
}

.klass_form .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.klass_form .details label {
  vertical-align: top;
  padding: 10px;
}

.klass_form .details textarea {
  border: 2px solid #5C5C5C;
  border-radius: 0.3em;
  min-width: 500px;
  min-height: 150px;
  margin: 0px 0px 0px 10px;
}

.kass_form .details .item{
  margin: 10px;
}

.klass_form select{
  margin: 0px 0px 0px 5px;
  border: 2px solid #5C5C5C;
  border-radius: 0.3em;
}

.klass_form .btn-group {
  display: table;
  margin-left: auto;
  margin-right: auto;
  /* it would not center w/o display: table */
}

.klass_form .btn {
  background-color: #D66700;
  margin: auto;
  font-weight: bold;
  font-size: large;
  color: #FFFFFF;
  display: table;
}

.klass_form .btn:hover{
  background-color: #F9CE1C;
  color: #5C5C5C;
}
