// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-header {
  background: #8EA800;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}


.user_account {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.user_account>.item{
  padding: 2px;
  margin: 3px;
}

.user_account p {
  font-size: medium
}

.user_account .btn {
  background: #FAF3EB;
}


.session_form {
  display: flex;
  flex-direction: column;
}

.session_form >.item {
  margin: 5px;
}
