.session_form {
  display: flex;
  flex-direction: column;
}

.session_form >.item {
  margin: 5px;
}

.session_form .errors {
  color: #D66700;

}

.session_form input {
  border: 2px solid #5C5C5C;
  border-radius: 0.3em;
  margin: 0px 0px 0px 15px;
}

.session_form .btn {
  margin: 15px auto;

  background-color: #D66700;
  margin: 15px;
  font-weight: bold;
  font-size: large;
  color: #FFFFFF;
}

.session_form .btn:hover{
  background-color: #F9CE1C;
  color: #5C5C5C;
}

.session_form .modal-content {
  background-color: #FFFFFF;
}

.session_form h2 {
  color: #5C5C5C;
  margin: 10px auto;
}

.session_form .title {
  text-align: center;
}
// .input_study_set_name {
//   border: 2px solid #5C5C5C;
//   border-radius: 0.3em;
//   font-weight: bolder;
//   font-size: xx-large;
//   padding: 0.3em;
//   margin: 0px 0px 0px 7px;
//   background-color: #FFFFFF;
//   color: #5C5C5C;
//   text-align: left;
// }
