// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background: teal;
  display: flex;
  justify-content: flex-end;
}


.login_status {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.login_status>.item{
  padding: 2px;
  margin: 3px;
}

.main {
  background: lightgrey;
  min-height: 200px;
}

.session_form {
  display: flex;
  flex-direction: column;
}

.session_form >.item {
  margin: 5px;
}
