// Place all the styles related to the api/study_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.study_set {
  padding-bottom: 20px;
}

.study_set_header {
  background: #D66700;
  padding: 4px;
  text-align: right;
}

.study_set_header .title{
  color: #FFFFFF;
  margin: 10px;
}

.study_set_header .details{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;

  margin: 10px;
  text-align: right;
}

.study_set_header .btn-group {
  margin: 0px 0px 0px 5px;
}

.study_set_header .btn {
  background: #FFFFFF;
  font-weight: bold;
  font-size: large;

}

// .study_set_header .btn:hover{
//   background: #F9CE1C;
// }
//
// .study_set .nav-tabs {
//   margin: 15px;
//   font-size: large;
//   border-bottom: 4px dashed #5C5C5C;
// }
//
// .study_set .nav-tabs>li {
//   margin-bottom: -4px;
// }
//
// .study_set .nav-tabs>li.active>a {
//   background-color: #FFFFFF;
// }





/* FORM */

.study_set_form .study_set_header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.study_set_form .study_set_header h1 {
  margin: 0px;
  /* this resets bootstrap default margin */
}

.input_study_set_name {
  border: 2px solid #5C5C5C;
  border-radius: 0.3em;
  font-weight: bolder;
  font-size: xx-large;
  padding: 0.3em;
  margin: 0px 0px 0px 7px;
  background-color: #FFFFFF;
  color: #5C5C5C;
  text-align: left;
}

.study_set_form h3{
  margin: 10px;
}

.study_set_form select{
  margin: 0px 0px 0px 5px;
  background-color: #FFFFFF;
}

.study_set_form .btn-group {
  display: table;
  margin-left: auto;
  margin-right: auto;
  /* it would not center w/o display: table */
}

.study_set_form .btn {
  background-color: #D66700;
  margin: 15px;
  font-weight: bold;
  font-size: large;
  color: #FFFFFF;
}

.study_set_form .btn:hover{
  background-color: #F9CE1C;
  color: #5C5C5C;
}


table {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid black;
  width: 90%;
  border-collapse: separate;
  border-radius: 0.5em;
}

tr {
}

th {
  background: #26A6B8;
  color: #FFFFFF;
}

td {
}

th, td {
  padding: 2rem;
  text-align: left;
  border: 1px solid #5C5C5C;
  width: 50%;
  min-height: 40px;
  font-size: xx-large;

}

td input{
  border: none;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

strong .correction {
  font: inherit;
  background: inherit;
  color: red;
}
